body {
  font-family: helvetica;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
background-color: white;
    text-decoration: none;
}
.material-icons{
    color: darkred;  
}

.welkom h1{
font-size: 25px;
    float: right;
margin-top: 50px;
    color: darkred;
    font-weight: bold;
}
.logo{
    max-width: 20vw;
    
}
.datum{
    font-size: 12px;
    float: left;
    margin-top: 10px;
}
section {

display: block;
    float: left;
}

.klein {
  max-width: 45vw;
border-radius: 5px;
    float: left;
    margin-right: 25px;
}
.groot {
  max-width: 90vw;
border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.tekst{
  margin-right: 15px;  
}

.titel a {
text-decoration: underline;
color: darkred; 
font-weight: bolder;
    
}

.titelartikel {
text-decoration: none;
color: darkred;
margin-bottom: 15px;

}

.cat{
   margin-bottom: 15px; 
    color: darkred;
}

.cat a{
   margin-bottom: 15px; 
    text-decoration: none;
    color: darkred;
}
.categorie{
    font-size: 2em;
    text-align: left; 
    color: darkred;
    font-weight: bolder;
    margin-top: 35px;
}


.titel {
    margin-bottom: 15px;
    margin-top: 50px;
    float:none;
}
h1 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: darkred;
}
h1{
    margin-bottom: 15px;
}

h3 {
  display: block;
font-size: 1em;
  text-decoration: none;
}
h3 a {
  display:inline-block;
font-size: 1em;
  text-decoration: none;
}




.nav {
    display: block;
  margin-right: 5px;
text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(212,0,19);
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}

.nav:hover {
    color: rgb(212,0,19);
    transition:  0.5s ease;
    background-color: whitesmoke;
    
    
}